# Ignore airflow logs
docker/airflow/logs/

# Ignore IDE configuration files
.idea/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/docker/data/
.idea/
venv/

.env
data/
*.csv
*.json
.idea/
