# ======================
# Terraform
# ======================
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup

# ======================
# Docker / Airflow
# ======================
docker/airflow/logs/

# ======================
# IDE files
# ======================
.idea/

# ======================
# Python
# ======================
__pycache__/
*.pyc

# ======================
# Virtual environments
# ======================
venv/

.env
data/
*.csv
*.json
.idea/


.idea/workspace.xml

echo '*.tfstate
*.tfstate.*
.terraform/
*.tfvars
terraform.tfvars' > terraform/.gitignore